OWNER_NAME="Ibrahim Adams"
PREFIX="-"
BOT_MODE='private'
AUTO_VIEW_STATUS="on"
AUTO_SAVE_STATUS="off"
BOT_NAME= "BMW-MD"
IMAGE_MENU= "https://telegra.ph/file/7ec4aa710486c41fa26d6.jpg"
OWNER_NAME= "᚛Ibrahim Adams᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING__MESSAGE='on'

